html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

#joinBtn:hover{
	background-image: url(../img/buttons/join_1.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#FAQBtn:hover{
	background-image: url(../img/buttons/FAQ_1.png);
	background-size: 100% 100%;
}
#conceptArtBtn:hover{
	background-image: url(../img/buttons/concept_1.png);
	background-size: 100% 100%;
}
#documentsBtn:hover{
	background-image: url(../img/buttons/docfolder_1.png);
	background-size: 100% 100%;
}
#shortsBtn:hover{
	background-image: url(../img/buttons/shorts_1.png);
	background-size: 100% 100%;
}
#gameList{
	min-height: 25vh;
} 
#characterList{
	min-height: 35vh;
}
input{
	font-family: "Times New Roman", serif;
}

.metal{
	background-image: url(../img/misc/metal.png);
	border-style: ridge;
	border-width: medium;
	border-color: #77422c;
}
.brass{
	background-image: url(../img/misc/brass.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-style: ridge;
	border-width: medium;
	border-color: #77422c;
}
.black{
	background-color: black;
}
.red{
	color: red;
}
.btn{
	font-family: "Times New Roman", serif;
	font-weight: bold;
}
.border{
	border-width: medium !important;
	border-color: black !important;
}
p, h1, h2, h3, h4, h5, h6{
	font-family: "Times New Roman", serif;	
}
hr{
	border-bottom: 5px solid black;
}
.hr-white{
	border-bottom: 5px solid white;
}
.trait-img{
	width: 33%;
}
.half{
	width: 50%;
}
#text-area{
	min-height: 20vh;
	width: 100%;
}
.tab{
	text-indent: 5%;
}
.characterSheet{
	background-image: url(../img/misc/photocopy.png);
	background-position: center center; 
  	background-repeat: no-repeat; 
  	background-size: cover;	
}
#chat-area{   
  border: solid;
  width: 100%;
  height: 75vh;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}
#chatBox{
	border: solid black;
  	width: 100%;
  	height: 25vh;
  	background-color: white;
  	overflow-x: hidden;
  	overflow-y: scroll;
}
.messageBox{
	border: solid black;
	width: 100%;
	height: 40vh;
  	background-color: white;
  	overflow-x: hidden;
}
#message{
	width: 100%;
	height: 12.5vh;
}
.carousel-item{
	height: 25vh;
}
.carousel-item img{
	height: 25vh;
}
.modal{
	overflow-y: auto;
}
.modal-lg{
	max-width: 80% !important;
}
.modal-content{
	border-style: ridge;
	border-width: thick;
	border-radius: 10px;
	border-color: #77422c;
}
.modal-header{
	border-bottom-style: ridge;
	border-bottom-width: thick;
	border-bottom-color: #77422c;
}
#mapSlot{
	background: url("../img/misc/picSlot.png");
	background-repeat: no-repeat;
	background-position: left-top;
	background-size: 100% 100%;
}
/* MEDIA QUERIES */
@media (max-width: 575px){
	.btn {
		font-size: 1em;
	}
}
@media (min-width: 576px){
	.btn {
		font-size: 1em;
	}
}
@media (min-width: 768px){
	.btn {
		font-size: 0.95em;
	}

}
@media (min-width: 992px){
	.btn {
		font-size: 1em;
	}

}
@media (min-width: 1200px){
	.btn {
		font-size: 1em;
	}

}